@import url(spectre.css);
@import url(spectre-icons.css);

body{
  background: #ffffff;
}
.padding-30{
  padding: 0px 30px;
}
.navbar-background{
  background: rgba(241, 241, 241, 0.73);
  min-height: 50px;
  line-height:50px;
  box-shadow: 0 0.1rem 0.1rem rgba(69, 77, 93, 0.16);
  margin-bottom:10px;
}
.navbar{
  //background: rgba(241, 241, 241, 0.73);
}
.menu .menu-item > a{
  text-align: left;
}

.navbar-section a{
  display: block;
  padding:0 7px;
  height: 50px;
  line-height: 50px;
  &:hover{
    background: #f1f1f1;
  }
}

.login-panel{
  width: 400px;
  margin:50px auto;
  padding: 20px;
}
.login-panel-background{
  background: rgba(241, 241, 241, 0.73);
  width: 100%;
  height: 200%;
  float: left;
}

.btn-delete:hover{
  border-color:#F44336;
  background: #F44336;
}

.btn-search:hover{
  border-color:#4CAF50;
  background:#4CAF50;
}